body,
h1,
form {
    margin: 0;
    padding: 0;
}


body {
    background-color: #f2f2f2;
    font-family: Arial, sans-serif;
}


h1 {
    background-color: #007BFF;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    margin-bottom: 20px;
}


form {
    background-color: #fff;
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}


input[type="text"],
select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
}


input[type="checkbox"] {
    margin-right: 5px;
}

.checkbox-group {
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 10px;
}


input[type="submit"] {
    background-color: #007BFF;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin-left: 117px;
}


#download-button-container {
    margin-top: 20px;
    text-align: center;
}


a[id^="download"] {
    display: inline-block;
    background-color: #28a745;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    text-decoration: none;
}

#progress-container {
    text-align: center;
    margin-top: 20px;
}


#progress-bar {
    width: 0;
    height: 10px;
    background-color: #007BFF;
    transition: width 0.3s;
}


#message {
    text-align: center;
    margin-top: 20px;
    font-weight: bold;
    color: #333;
}


.checkbox-inline {
    font-weight: normal;
        color: #666;
        margin-right: 10px;
        margin-left: 178px;
margin-top: 0px;
}



.checkbox-inline1 {
    font-weight: normal;
    color: #666;
    margin-right: 51px;
    margin-top: -29px;
    margin-left: 0px;
}


#subCheckboxes label {
    font-weight: normal;
    color: #666;
    margin-left: 26px;
    margin-top: -19px;
}


#subCheckboxes .checkbox-group {
    display: inline-block;
  
    margin-right: 20px;
   
}

#loading-container {
    display: none;
    text-align: center;
    margin-top: 20px;
}


#loading-container p {
    font-weight: bold;
    color: #333;
}


.loader {
    border: 4px solid #f3f3f3;
    border-top: 4px solid #3498db;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

#download-button-container button {
    background-color: #28a745;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    text-decoration: none;
    margin-top: 10px;
  
}

#download-button-container button:hover {
    background-color: #1e7e34;
   
}

input[type="reset"] {
    background-color: #ccc;
        color: #333;
        padding: 10px 25px;
        border: none;
        border-radius: 33px;
        cursor: pointer;
        font-size: 16px;
        margin-right: 19px;
        margin-left: 147px;
        margin-top: 9px;
   
}


input[type="reset"]:hover {
    background-color: #ddd;
    color: #555;
}


.preloader {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    z-index: 9999;
}

.loader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 8px solid #f3f3f3;
    border-top: 8px solid #3498db;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }

    100% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

.reset-button {
    background-color: #f44336;
    color: white;
    border: none;
    padding: 10px 20px;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 5px;
    margin-left: 155px;
}

.reset-button {
    background-color: #d32f2f;
}
